* {
    margin: 0;
}

.page, .body {
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.header {
    border: 1px solid black;
    position: sticky;
    width: 92%;
    padding: 0 50px;
    text-align: center;
    background-color: rgb(16, 97, 173);
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-weight: bolder;
    font-size: 150%;
}

.mainContent {
    flex-grow: 1;
    width: 92%;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 50px 50px;
    background-color: rgb(169, 210, 248);
}

.footer {
    border: 1px solid black;
    width: 92%;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(16, 97, 173);
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-weight: bolder;
}

.addTaskForm {
    border: 1px solid black;
    border-radius: 50px 20px;
    padding: 10px;
    text-align: center;
    background-color: white;
}

.input {
    border: 1px solid black;
    border-radius: 50px 20px;
    text-align: center;
    background-color: white;
    width: 85%;
    padding: 5px;
    font-size: 120%;
}

.button {
    margin-top: 5px;
    border: none;
    border-radius: 50px 20px;
    background-color: rgb(9, 187, 9);
    color: white;
    font-family: inherit;
    padding: 10px;
}

.button:hover {
    cursor: pointer;
}


.allTasks {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    width: 85%;
}

.allTasks__taskWithArrow {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.allTasks__arrow {
    font-weight: bolder;
    font-size: 170%;
    margin: 7px 15px 0 0;
    font-family: sans-serif;
}

.allTasks__arrow:hover {
    cursor: pointer;
    color: rgb(16, 97, 173);
}

.allTasks__task {
    flex-grow: 10;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    transition: all 0.2s;
}

.allTasks__task:hover {
    background-color: rgb(16, 97, 173);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform: translate(-2%, 2%);
}

.allTasks__deleteTask:hover {
    background-color: rgb(238, 120, 105);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transform: translate(-2%, 2%);
}

.allTasks__time {
    width: 20px;
}

.allTasks__ok {
    width: 20px;
    display: none;
}


.taskCompleted {
    display: flex;
    text-decoration: line-through;
    background-color: rgb(158, 158, 158);
}

.showImg{
    display: block;
}

.hideImg {
    display: none;
}
